.landing{
position: relative;
background-color: white;
background-image: url(../../../imgs/Landing/pizza22.jpg);
background-size: cover;
height: 100vh;
display: flex;
justify-content: center;
overflow: hidden;
transition: var(--main-transition);
}
.parent{
position: absolute;
}
.landing-tow{
position: absolute;
background-image: url(../../../imgs/Landing/pizza.jpg);
background-size: cover;
height: 100vh;
width: 100%;
top: 0;
opacity: 0;
left: -100%;
}
.landing .info
{
display: flex;
flex-direction: column;
justify-content: center;
}
.landing .info .i{
position: absolute;
background-color: rgba(255, 255, 255, 0.2);
padding: 20px 40px ;
cursor: pointer;
transition: all .3s ease;
}
.landing .info .icon-left{
left: -35px;
transform: skew(15deg)
}
.landing .info .icon-right{
right: -35px;
transform: skew(-15deg)
}
.landing .info  .icon{
color: #ffff;
font-size: 30px;
transition: all .3s ease;

}
.landing .info .icon-left .icon{
transform: translateX(60%) skew(-15deg);
transition: all .3s ease;

}
.landing .info .icon-right .icon{
transform: translateX(-60%) skew(15deg);
}
.landing .i img{
position: absolute;
left: 100%;
max-width: 200px;
height: 100%;
top: 0;
}
.landing .icon-left img{
position: absolute;
left: -100%;
max-width: 200px;
height: 100%;
top: 0;
transition: all .3s ease;

}
.landing .info  .icon-left:hover{
left: 100px;
background-color: var(--second-color);
}
.landing .info  .icon-right:hover{
right: 120px;
background-color: var(--second-color);

}
.landing h1{
    text-transform: uppercase;
    color: white;
    font-size: 70px ;
    max-width:500px ;
    letter-spacing: 2px;
    font-family: "Asfalto";

}
.landing .view{
padding: 15px 70px ;
cursor: pointer;
background-color: var(--second-color);
color: black;
font-size: 18px;
border: none;
transition: var(--main-transition);
font-family: "Asfalto";
width:fit-content ;
}
.landing .view:hover{
color: white;
background-color:var(--third-color);
}
.landing p{
    margin:20px 0 20px 0;
    color: white;
    max-width:300px ;
    letter-spacing: 1px;

}

@media (max-width:1200px) {
    .landing .info h1{
    font-size: 50px;    
    }
    .landing  .info .view{
        padding: 15px 40px;
    }
   .landing{
    height: 80vh;
    }
    .landing-two{
    height: 80vh;
    }
}
@media (max-width:991px) {
   .landing{
    height: 65vh;
    }
   .landing-two{
    height: 65vh;
    }
}
@media (max-width:767px) {
    .landing .info {
    align-items: center;
    text-align: center  ;
    }  
    .landing .info h1{
    font-size: 40px;
    }
    .landing{
    height: 40vh;
    }
    .landing-two{
    height: 40vh;
    }
}