.landing{
background-size: cover;
position: relative;
}
.landing img {
width: 100%;
}

.landing .info
{
position: absolute;
left: 20%;
top: 25%;
transform:  -50%;
}
.landing h1{
    text-transform: uppercase;
    color: white;
    font-size: 70px ;
    max-width:500px ;
    letter-spacing: 2px;
    font-family: "Asfalto";

}
.landing .view{
padding: 15px 70px ;
cursor: pointer;
background-color: var(--second-color);
color: black;
font-size: 18px;
border: none;
transition: var(--main-transition);
font-family: "Asfalto";

}
.landing .view:hover{
color: white;
background-color:var(--third-color);
}
.landing p{
    margin:20px 0 20px 0;
    color: white;
    max-width:300px ;
    letter-spacing: 1px;

}
@media (max-width:1200px) {
    .landing .info h1{
    font-size: 50px;    
    }
    .landing  .info .view{
        padding: 15px 40px;
    }
}
@media (max-width:767px) {
    .landing .info {
display: flex;
flex-direction: column;
left: 50%;
transform: translateX(-50%);
align-items: center;
    }  
    .landing .info h1{
        font-size: 25px;
    }
    .landing .info p{
        font-size: 14px;
        margin: 10px 0 10px 0;
    }
    .landing .info .view{
        width: fit-content;
        padding: 10px 20px;
    }
}