.services {
position: relative;
margin: 50px 0 50px 0;
width: 100%;
}
.services .img{
position:relative;
width: 100%;
}
.services .img img{
position:absolute;
width: 100%;
}
.services .img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 67, 67, 0.205);

}

.services .info {
position: absolute;
z-index: 1000;
top: 50%;
transform: translateY(-50%);
left: 70%;
transform: translateX(-50%);
color: red;


}
.services .info a{
padding: 10px 30px;
background-color: var(--third-color);
color: white;
width: fit-content;
transition: var(--main-transition);
}
.services .info a:hover{
color: black;
background-color: var(--second-color);
}
.services .info h2{
letter-spacing: 1.5px;
font-size: 35px;
}
.services .info p{
margin: 10px 0 10px 0;
}