.add-cart .cart-shopping{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.add-cart .cart-shopping .box{
width: 350px;
height: 350px;
box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

}
.add-cart .cart-shopping .buttons{
display: flex;
flex-direction: column;
}
.add-cart .cart-shopping .buttons button,
.add-cart .cart-shopping p{
border: none;
font-size: 20px;
cursor: pointer;
margin: 10px 0;
padding: 10px 20px;
background-color:var(--second-color);
transition: var( --main-transition);
width: 350px;
}
.add-cart .cart-shopping p{
font-size: 16px;
text-align: center;
}
.add-cart .cart-shopping .buttons button:hover,
.add-cart .cart-shopping p:hover{
background-color: var(--third-color);
color: white;
}