* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cairo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* variables */
:root {
  --first-color: #6046b6;
  --second-color: #ffe745;
  --third-color: #73cca1;
  --hover-color: #ff8f22;
  --p-color: #9D9D9D;
  --main-transition: .4s;
  --main-title-color: #444;
  --main-title-line-color: #cecece;
  --main-paddidng: 30px;
  --main-line-height: 1.8;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

}

/* Large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

/* Medium */
@media (max-width:992px) {
  .container {
    width: 970px;
  }
}

/* Small */
@media (max-width:768px) {
  .container {
    width: 750px;
  }
}

/* Main title */
.main-title {
  color: var(--main-title-color);
  font-size: 40px;
  font-family: "Asfalto";
  font-weight: bold;
  letter-spacing: 1px;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

