.gallary{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 5px;
height: 80vh;
}


.gallary .box{
display: flex;
align-items: center;
flex-wrap: wrap;

gap: 5px;

}
.gallary .two{
}
.gallary .one{

}
.box img{
}