.gallary{
display: flex;
justify-content: space-between;
gap: 5px;
height: 80vh;
width: 100%;
}


.gallary .box{
display: flex;
align-items: center;
gap: 5px;

}
.gallary .two{
flex-wrap: wrap;
}
.gallary .one{

}
.box img{
max-width: 100%;
}