.menu{
  background-color:   #f5f5f5;
}
.menu .container{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill , minmax(360px,1fr));
    gap: 25px;
}
.menu .container .card{
position: relative;
width: 95%;
aspect-ratio: 1.33;
background-color: white;
overflow: hidden;
transition: var(--main-transition);
}
.menu .container .card img{
transition: .3s;
width: 100%;
}
.menu .container .card:hover img{
 transform: scale(1.1);
}
.menu .container .card::after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0 ,30%);
} 
.menu .container .card .circle-icon .icon{
font-size: 30px;
position: absolute;
top: 30%;
transform: translateY(-50%);
left: 50%;
transform: translateX(-50%);
color: white;   
}
.menu .container .card .circle-icon{
position: absolute;
width: 80px;
height:80px;
border-radius: 50%;
background-color: var(--first-color);
top: 30%;
transform: translateY(-50%);
left: 50%;
transform: translateX(-50%);
border: 5px solid rgba(19, 15, 15, 0.548);
transition: var(--main-transition);
z-index: 1000;

}
.menu .container .card:hover .circle-icon{
    background-color: var(--second-color);
}
.menu .container .card:hover .circle-icon .icon{
color: black;
}


.menu .container .card .circle-icon h3{
position: absolute;
color: white;
bottom: -30px;
left: 50%;
transform: translateX(-50%);
transition: var(--main-transition);
z-index: 1000;
}

.menu .container .card h3:hover{
color: var(--second-color);
cursor: pointer;
}

/* @media(max-width:991px){
    .menu .container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.menu .container .card{
flex-basis: 100%;
}
.menu .container .card img{
text-align: center;
}
} */