.Leftparagraoh{
    display: flex;
    position: relative;
    right: -920px;
    top: 62px;
    flex-direction: column;
    
}
.Leftparagraoh h5{
    right: 0;
    bottom: 0px;
    font-size: 25px;
    margin-right: 50px;
}
.Leftparagraoh .parragraphs{
    margin-right: 50px;
    right: 150px;
    bottom: -400px;
    font-size: 25px;
    line-height: 3;
    list-style: none;
    color:#777;
}
.Leftparagraoh .parragraphs li a {
    list-style: none;
    color:black;
  
}
.parragraphs li::before{
    content: "";
    width: 200%;
    height: 1px;
    background-color: #777;
    bottom: 0px;
    left: 3%;
    
}
.Leftparagraoh .button{
    margin-right: 40px;
    right: 120px;
    bottom: -530px;
    font-size: 25px;
    padding: 20px;
    background-color: yellow;
    border-style: none;

}