.parent{
padding-top: 50px;
padding-bottom: 50px;
}
.paragraph {
    display: flex;

}
.Aboutusparag{

}
.Aboutusparag h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.Aboutusparag p {
color: #777;
line-height: 1.8;
}
.Ourmission{
    display: none;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.Ourmission h3{
    font-size: large;
    font-size: 50px;
    margin-bottom: 30px;
}
.Ourmission p {
color: #777;
line-height: 1.8;
}
.ourgoals{
    display: none;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.ourgoals h3{
    font-size: large;
    font-size: 50px;
    margin-bottom: 30px;
}
.ourgoals p {
color: #777;
line-height: 1.8;
}
.ourvalues{
    display: none;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.ourvalues h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.ourvalues p {
color: #777;
line-height: 1.8;
}
.paragraph .photo{
    margin-left: 100px;
    left: 0;
    bottom: -900px;

}
.Leftparagraoh h5{
    right: 0;
    bottom: 0px;
    font-size: 25px;
    margin-right: 50px;
}
.Leftparagraoh .parragraphs{
    margin-right: 50px;
    right: 150px;
    bottom: -400px;
    font-size: 25px;
    line-height: 3;
    list-style: none;
    color:#777;
}
.Leftparagraoh .parragraphs li a {
    list-style: none;
    color:black;
  
}
.parragraphs li::before{
    content: "";
    width: 200%;
    height: 1px;
    background-color: #777;
    bottom: 0px;
    left: 3%;
    
}
.Leftparagraoh .button{
    margin-right: 40px;
    right: 120px;
    bottom: -530px;
    font-size: 25px;
    padding: 20px;
    background-color: yellow;
    border-style: none;

}
.ourfeatures{
    display: flex;
    position: relative;
    bottom: -1450px;
    background-color: rgba(119, 119, 119, 0.13);
    width: 100%;
    padding: 50px;
}
.ourfeatures .boxes{
display: flex;
flex-wrap: wrap;
margin-right: 40px;
margin-left: 100px;
flex-direction: row;
flex-basis: auto;

}
.ourfeatures .boxes h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.ourfeatures .boxes p{
    font-size: 15px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 30px;
    width: 50%;
    
}
.ourfeatures .icons{

    display: inline-block;
    text-align: center;
    height: 70px;
    width: 70px;
    margin-top: 4px;
    font-size: 40px;
    line-height: 70px;
    color: #151515;
    background: yellow;
    border-radius: 50%;
    box-shadow: 12px 12px 20px 0 rgb(0 0 0 / 15%);
    margin-right: auto;
}
