.parent{
padding-top: 50px;
padding-bottom: 50px;
}
.paragraph {
    display: flex;
    position: relative;

}
.container{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.container .photo{
    position: relative;
    bottom: -498px;
    left: -339px;
}
.Aboutusparag h3{
    font-size: 40px;
    margin-bottom: 30px;
}
.Aboutusparag p {
color: #777;
line-height: 1.8;
}

.ourfeatures{
    display: flex;
    position: relative;
    bottom: -818px;
    background-color: rgba(119, 119, 119, 0.13);
    width: 100%;
    padding: 50px;
}
.ourfeatures .boxes{
display: flex;
flex-wrap: wrap;
margin-right: 40px;
margin-left: 100px;
flex-direction: row;
flex-basis: auto;

}
.ourfeatures .boxes h3{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.ourfeatures .boxes p{
    font-size: 15px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 30px;
    width: 50%;
    
}
.ourfeatures .icons{

    display: inline-block;
    text-align: center;
    height: 70px;
    width: 70px;
    margin-top: 4px;
    font-size: 40px;
    line-height: 70px;
    color: #151515;
    background: yellow;
    border-radius: 50%;
    box-shadow: 12px 12px 20px 0 rgb(0 0 0 / 15%);
    margin-right: auto;
}
