.paragraph{
    display: flex;
}
.Aboutusparag{
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.Aboutusparag h3{
    font-size: large;
    font-size: 50px;
    margin-bottom: 30px;
}
.Aboutusparag p {
color: #777;
line-height: 1.8;
}
.Ourmission{
    display: none;
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.Ourmission h3{
    font-size: large;
    font-size: 50px;
    margin-bottom: 30px;
}
.Ourmission p {
color: #777;
line-height: 1.8;
}
.ourgoals{
    display: none;
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.ourgoals h3{
    font-size: large;
    font-size: 50px;
    margin-bottom: 30px;
}
.ourgoals p {
color: #777;
line-height: 1.8;
}
.ourvalues{
    display: none;
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 50%;
    margin-top: auto;
    padding: auto;
    margin-left: 100px;
}
.ourvalues h3{
    font-size: large;
    font-size: 50px;
    margin-bottom: 30px;
}
.ourvalues p {
color: #777;
line-height: 1.8;
}
.paragraph .photo{
    position: absolute;
    margin-left: 100px;
    left: 0;
    bottom: -900px;

}
.Leftparagraoh h5{
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 25px;
    margin-right: 50px;
}
.Leftparagraoh .parragraphs{
    position: absolute;
    margin-right: 50px;
    right: 150px;
    bottom: -400px;
    font-size: 25px;
    line-height: 3;
    list-style: none;
    color:#777;
}
.Leftparagraoh .parragraphs li a {
    list-style: none;
    color:black;
  
}
.parragraphs li::before{
    content: "";
    position: absolute;
    width: 200%;
    height: 1px;
    background-color: #777;
    bottom: 0px;
    left: 3%;
    
}
.Leftparagraoh .button{
    position: absolute;
    margin-right: 40px;
    right: 120px;
    bottom: -530px;
    font-size: 25px;
    padding: 20px;
    background-color: yellow;
    border-style: none;

}


