.ourteams .container{
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;

}
.footer{
    position: relative;
    bottom: -1500px;
    ;
}