*{
    box-sizing: border-box;
    background-color: white;
transition: step-start;
transition-property: all;
transition: ease-in-out;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.containerr{
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0.5%;
}
.title{
    background-image: url('./imgs/Landing/pizza21.jpg');
    width: 100%;
    height: 40vh;
    display: flex;
    background-size: cover;
    justify-content: center;
align-items: center;
position: relative;
}
.title::before{
    content:"";
    position: absolute;
    width: 100%;
height: 100%;
    background-color: rgba(0, 0, 0, 0.656);
    top: 0;
    left: 0;
}
.title h1{
    text-align: center;
    z-index: 5;
    background: none;
    color: wheat;
    font-size: 90px;
}
.title h1::before{
    content: "";
    position: absolute;
    width: 33%;
    height: 3px;
    background-color: white;
    bottom: 91px;
    left: 50%;
    transform: translateX(-50%);

}

@media(max-width :700px){
    .title h1{
    font-size: 40px;
    }
    .paragraph{
            flex-direction: column;
    }
    .paragraph .para{
        flex-direction: row;
    }
}
@media(max-width :1000px){
    .title h1{
        font-size: 65px;
        }
        .paragraph{
            flex-direction: column;
        }
        .paragraph .para{
            flex-direction: row;
        }
     
}
/* fisih land  */

/* now we start the paragraph */
.paragraph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    max-width: 100%;
    width: 100%;

}
.paragraph .para{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    position: relative;
}
.paragraph .para h1{
    margin-top: 95px;
    color:black;
    text-align: left;
    left: 0;
    top: 0;
    font-size: 40px;
    font-weight: 400;
    transition: 0.3;
    transition-delay: 0.2ms;
    transition-duration: 0.2ms;
    transition: linear;
    width: 70%;

}
.paragraph .para p{
    font-size: 20px;
    left: -15;
    margin: 2px;
    color: #777;
    line-height: 1.6;
    transition: 0.3;
    transition-delay: 0.2ms;
    transition-duration: 0.2ms;
    transition: linear;
}
.paragraph .para img{
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 50px;
}


.paragraph .p1{
    font-size: 20px;
    left: 0;
    color: #777;
    line-height: 1.6;
    transition: 0.3;
    transition-delay: 0.2ms;
    transition-duration: 0.2ms;
    transition: linear;
}


.paragraph .sidebar{
    display: flex;
    position: relative;
    right: -50px;
    top: 88px;
    flex-direction: column;
    margin-bottom: 100px;
}
/* .paragraph .sidebar::before{
    content: "";
    position: absolute;
    width: 107%;
    height: 3px;
    background-color: #777;
    bottom: 718px;
    left: -70%;
    transform: rotateZ(90deg);
} */

.sidebar h5{
    right: 0;
    bottom: 0px;
    font-size: 25px;
    margin-right: 50px;

}
.sidebar .list{
    display: flex;
    margin-right: 50px;
    right: 150px;
    bottom: -400px;
    font-size: 25px;
    line-height: 3;
    list-style: none;
    font-style: none;
    color:#777;
}
.paragraph .sidebar ul{
    display: flex;
    flex-direction: column;
}
.paragraph .sidebar ul li{
    list-style: none;
    color:black;
    cursor: pointer;
  
}
.paragraph .sidebar ul li a{
    list-style: none;
    color:black;
    cursor: pointer;
}
.paragraph .sidebar ul li a:hover{
    color:  #6046b6;;
}

.paragraph .sidebar a ::before{
    content: "";
    height: 1px;
    background-color: #777;
    bottom: 0px;
    left: 3%;
    
}
.paragraph .button{
    margin-right: 40px;
    right: 120px;
    bottom: -530px;
    font-size: 25px;
    padding: 20px;
    background-color: yellow;
    border-style: none;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;

}
.glow-on-hover {
    width: 70%;
    height: 88px;
    border: none;
    outline: none;
    color:black;
    background: yellow;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    top: 21px;
    left: 49px;
    text-align: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color:#fffb00
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fffb00;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media(max-width :700px){
    .paragraph{
            flex-direction: column-reverse;
    }
    .paragraph .sidebar{
        right: 0;
    }
    .paragraph .para{
        position: relative;
        display: flex;
        flex-direction: row;
        right: -1px;
    }
    .sidebar .list{
        flex-direction: row;
    }
   
    .paragraph .sidebar ul {
        flex-direction: row;
        max-width: 100%;
        left: -10px;
        flex-wrap: wrap;
    }
    .paragraph .sidebar ul li{
        flex-direction: row;
        max-width: 100%;
        margin: 10px;
        left: -10px;
        flex-wrap: wrap;

    }
    .paragraph .para p{
        max-width :113%;
        display: contents;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: -60px;
        color:#777;
        flex-wrap: wrap;
        flex-direction: column;
        display: block;
        height: auto;
    }
    .paragraph .button{
        margin-right: 0;
    }
    .paragraph .para h1{
        display: contents;
    }
    .paragraph .para img {
        position: relative;
        width: 142%;
        height: 340px;
        left: -19px;
    }
    
}
/* finsh paragraph completely */
/* start our featurs */
.ourfeatures{
    position: relative;
    display: flex;
    bottom: -400px;
    background-color: rgba(119, 119, 119, 0.13);
    width: 100%;
    padding: 5px;
    justify-content: space-between;
 
}
.ourfeatures .box{
    background:none;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 80px;
    flex-direction: column;
    position: relative;
    text-align: center;

}
.ourfeatures .box h3{
    background:none;
    font-size: 35px;
    font-weight: 400;
    margin: 20px;
    text-align: left;
}
.ourfeatures .box p{
    background:none;
    font-size: 20px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 30px;
    width: 50%;   
    text-align: left;
}
.ourfeatures .icons{
    position: relative;
 background: none;
    display: flex;
    text-align: left;
    height: 70px;
    width: 70px;
    color: #151515;
    background: yellow;
    border-radius: 50%;
    box-shadow: 12px 12px 20px 0 rgb(0 0 0 / 15%);
    margin-right: 80px;
    top: 30px;
    left: 0;
}
@media(max-width :700px){
    .ourfeatures{
        max-width: 100%;
        display:flex;
        flex-direction: column;
        margin-top:  -240px;
        left: 0;
    position: relative;
    }
}
/* finish the ourfearures icons */
/* start ourteam */
.teammembers{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    bottom: -400px;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    height: 0px;
    top: -509px;
}
.teamheadder h1{
    margin: 40px;
    display: flex;
    font-size: 90px;
    justify-content: center;
    font-weight: 500;
    position: relative;
    bottom: -577px;
}
.ourteams{
position: relative;
top: 50;
height: 100vh;
}
@media(max-width :700px){
   .teammembers{
    top: 419px;
   }
   .ourteams{
    margin-left: 60px;
   }
}
.ourhistory{
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: rgb(177, 7, 7);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: -1600px;
    height: 0;
}
.ourhistory img{
    width: 50%;
    height: 85vh;
    position: relative;
    top: 79px;
}
.ourhistory .text{
    background-color: rgb(177, 7, 7);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    bottom: -79px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    
}
.ourhistory .text h1{
    font-weight: 400;
    width: 80%;
    font-size: 62px;
    background: none;
    position: relative;
    text-align: left;
    left: 0px;
    top: 0px;
}
/* .ourhistory .text::before{
    content: "";
    position: absolute;
    width: 87%;
    height: 15px;
    background-color: rgb(73, 3, 73);
    bottom: 80px;
    left: 0%;
}
.ourhistory .text .d0{
    border-radius: 50%;
    position: absolute;
    width: 10%;
    height: 10%;
    color: rgb(73, 3, 73);
    background-color: rgb(73, 3, 73);
    bottom: 50px;
    left: 10%;
    z-index: 200;
}
.ourhistory .text .d1{
    border-radius: 50%;
    position: absolute;
    width: 10%;
    height: 10%;
    color: rgb(73, 3, 73);
    background-color: rgb(73, 3, 73);
    bottom: 50px;
    left: 38%;
    z-index: 200;
}
.ourhistory .text .d2{
    border-radius: 50%;
    position: absolute;
    width: 10%;
    height: 10%;
    color: rgb(73, 3, 73);
    background-color: rgb(73, 3, 73);
    bottom: 50px;
    left: 60%;
    z-index: 200;
}
.ourhistory .text .d3{
    border-radius: 50%;
    position: absolute;
    width: 10%;
    height: 10%;
    color: rgb(73, 3, 73);
    background-color: rgb(73, 3, 73);
    bottom: 50px;
    left: 85%;
    z-index: 200;
}

.ourhistory .text::after{
    content: "";
    position: absolute;
    width: 8%;
    height: 8%;
    background-color: white;
    bottom: 59px;
    left: 86%;
    border-radius: 100%;
    z-index: 250;
} */

.ourhistory .text h3{
    font-weight: 200;
    font-size: 40px;
    background: none;
    position: relative;
    text-align: left;
    left: 0px;
    width: 80%;
    top: -78px;
}
.ourhistory .text p{
    color:#777;
    font-weight: 200;
    font-size: 40px;
    background: none;
    position: relative;
    text-align: left;
    left: 0px;
    width: 80%;
    top: -68px;
}
@media(max-width :800px){
    .ourhistory .text{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        bottom: -100px;
        bottom: -2300px;
    }
    .ourhistory .text::before {
bottom: 9px;
    }
    .ourhistory .text h1{
        width: 100%;
        text-align: center;
        position: relative;
        font-size: 40px;
    top: 0;
    left: 0;
}
 
    .ourhistory .text h3{

        width: 100%;
        position: relative;
        font-size: 20px;
        text-align: center;
    top: -10px;
    left: 0;
}
    .ourhistory .text p{
        width: 100%;
        position: relative;
        font-size: 20px;
        text-align: center;
    top: -20px;
    left: 0;
}
/* .ourhistory .text::after{
    bottom: 7px;
}
.ourhistory .text .d1{
    bottom: 7px;
}
.ourhistory .text .d2{
    bottom: 7px;
}
.ourhistory .text .d3{
    bottom: 7px;
}
.ourhistory .text .d0{
    bottom: 7px;
} */
.ourhistory .text{
flex-direction: column;
}
.ourhistory{
    flex-direction: column;
}
.ourhistory img {
    width: 100%;
    height: 65vh;
    position: relative;
    top: 2298px;
}
}
.ui-to-top {
    position: fixed;
    overflow: hidden;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    color: #151515;
    background: #ffe745;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: .3s all ease-in-out;
    transform: translate3d(0, 150px, 0);
}
.ui-to-top:hover {
   background: #6046b6;
}
.ui-to-top.active {
    transform: translate3d(0, 0, 0);
}
.ui-to-top.active:hover{
    color:yellow;
}

.up{
    background: none;
    width: 40px;
    height: 40px;
}

@media (min-width: 576px){
.ui-to-top {
    right: 40px;
    bottom: 40px;
}
}
.opinios{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    bottom: -2800px;
}
.opinios .leftimg{
    width: 50%;
    margin-right: 50px;
    margin: bottom;
    /* margin-bottom: -141px; */
    position: relative;
    top: -82px;
    border-radius: 50ox;
    border-radius: 28px;
    height: 57vh;
}
.opinios .optext{
    display: flex;
    width: 50%;
    text-align: left;
    justify-content: left;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 90px;

}
.opinios .optext h2{
    font-weight: 400;
    font-size: 85px;
    position: relative;
    top: -143px;
    margin-bottom: -66px;
}