.paragraph{
   padding:50px  0;
}
.paragraph .container{
display: flex;
justify-content: space-between;
gap: 20px;
max-width: 100%;
}
.paragraph .para{
display: flex;
flex-direction: column;
max-width: 70%;
}
.paragraph .para .h2{
    color:black;
    font-size: 25px;
}
.paragraph .para p{
    font-size: 18px;
    margin: 2px;
    color: #777;
    line-height: var(--main-line-height);
}
.paragraph .para img{
    max-width: 100%;
}

.paragraph .p1{
    font-size: 18px;
}
.paragraph .sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
@media (max-width:991px) {
    .paragraph .container{
    flex-direction: column;
    }
.paragraph .para{
    max-width: 100%;
    align-items: center;
    }
.paragraph .para p{
font-size: 16px;
}
.paragraph .para img{
display: none;
}
}
.sidebar h5{
    font-size: 25px;
}

.paragraph .sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paragraph .sidebar ul li{
    cursor: pointer;
    border-bottom: 1px solid #e1e1e1;
    transition: var(--main-transition);
    padding: 20px 0;
}
.paragraph .sidebar ul li a{
    cursor: pointer;
    padding: 0 20px;
}
.paragraph .sidebar ul li:hover{
    background-color:  var(--first-color);
    color: white;
}

.paragraph .sidebar a ::before{
    content: "";
    height: 1px;
    background-color: #777;
    bottom: 0px;
    left: 3%;
    
}
.paragraph .button{
    font-size: 18px;
    padding: 20px 60px;
    background-color: var(--second-color);
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    transition: var(--main-transition);
}
.paragraph .button:hover{
background-color: var(--third-color);
color: white;
}

.ourfeatures{
    background-color: rgba(119, 119, 119, 0.13);
    padding: 50px 0;
}
.ourfeatures .container{
display: flex;
gap: 10px;
max-width: 100%;
}
@media (max-width:991px) {
    .ourfeatures .container{
    flex-direction: column;
    align-items: center;
    }
    .ourfeatures .container .box{
    align-items: center;
    }
    .ourfeatures .container .box p{
        text-align: center;

    }
    .ourfeatures .container .box .icons{
       margin: 0 0 10px 0;
    }
}
.ourfeatures .box{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ourfeatures .box h3{
    font-size: 25px;
    font-weight: 400;
    text-align: left;
}
.ourfeatures .box p{
    font-size: 20px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: left;
}
.ourfeatures .icons{
    height: 50px;
    width: 50px;
    color: #151515;
    background: var(--second-color);
    border-radius: 50%;
    box-shadow: 12px 12px 20px 0 rgb(0 0 0 / 15%);
    margin-left: 50px;
    margin-bottom: 20px;
}

/* finish the ourfearures icons */
/* start ourteam */
/*  */