.allteam .container{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
  gap: 5px;
}
.ourteam {
padding: 20px;
box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
position: relative;
overflow: hidden;
transition: var(--main-transiton);
text-align: center;
}
.ourteam  > img {
width: 250px;
height: 350px;
}
.ourteam  .inf{
display: flex;
flex-direction: column;
align-items: center;
}
.ourteam  .inf h4{
color: var(--main-title-color);

<<<<<<< HEAD
  .ourteams h1{
    color: rgb(0 0 0);
      font-size: 100px;
      text-align: center;
      bottom: -1003px;
      font-weight: 100;
      z-index: 1;
  
  }
  .ourteam{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: column;
      position: relative;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
      padding: 60px 20px 30px;
      background-color: #fff;
      width: 240px;
      bottom:-1256px;
      margin-left: 20px;
      margin-bottom: 50px;
  
  }
  
  .ourteam:hover{
      animation: wiggle 2s linear infinite;
  }
      
  @keyframes wiggle {
      0%, 7% {
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-15deg);
      }
      20% {
        transform: rotateZ(10deg);
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
      }
      35% {
        transform: rotateZ(-4deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
    }
  
  .ourteam .faces{
     display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-direction: column;
      align-items: center;
    
  
  }
  .ourteam:hover{
      transform: translatey(-10%);
  }
  .ourteam .faces img{
      position: relative;
      top: -51px;
      left: -8px;
  }
  .ourteam .faces h3{
      font-size: 20px;
      font-style: initial;
      font-weight: 600;
      top: -33px;
      position: relative;
  }
  .ourteam .faces p{
     color: #765;
      font-size: 24px;
      position: relative;
      top: -29px;
  }
  @media(max-width :700px){
    .ourteam{
      
     margin-left: 60px;
     position: relative;
     top: 500px;
    margin-left: 60px;
    position: relative;
    top: 500px;
    width: 100%;
    left: -37px;
    }
    .ourteam .faces img {
        position: relative;
        top: -51px;
        left: -1px;
        width: 100%;
    }
 }
 .load-wrapp {
  float: right;
  width: 100px;
  height: 0px;
  margin: 0 10px 10px 0;
  padding: -52px 20px 20px;
  border-radius: 5px;
  text-align: right;
  background-color: #d8d8d8;
  position: relative;
  top: 0;
  left: -77px;
=======
>>>>>>> 0d0fe17b3a67ccf27a7f287a9329ad0007150485
}

.ourteam  .inf {
  position: absolute;
  padding: 20px;
  left: 0;
  background-color: white;
  width: 100%;
  transition: 0.5s;
  bottom: -100%;
}
.ourteam:hover .inf{
bottom: 0;
}
@media (max-width:991px) {
  .ourteam  .inf {
    bottom: 0;
  }
}