.allteam .container{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
  gap: 5px;
}
.ourteam {
padding: 20px;
box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
position: relative;
overflow: hidden;
transition: var(--main-transiton);
text-align: center;
}
.ourteam  > img {
width: 250px;
height: 350px;
}
.ourteam  .inf{
display: flex;
flex-direction: column;
align-items: center;
}
.ourteam  .inf h4{
color: var(--main-title-color);

}

.ourteam  .inf {
  position: absolute;
  padding: 20px;
  left: 0;
  background-color: white;
  width: 100%;
  transition: 0.5s;
  bottom: -100%;
}
.ourteam:hover .inf{
bottom: 0;
}
@media (max-width:991px) {
  .ourteam  .inf {
    bottom: 0;
  }
}